{% extends 'main/lay.html' %}
{% block content %}
<main>
      <h1 class='kk'>Полезные ссылки:</h1>
      <div class="ll">Сайт для изучения программирования: <a href="https://itproger.com" target="_blank">itproger.com</a></div>
      <div class="ll">Текстовые редакторы для написания кода: <a href="https://atom-editor.cc" target="_blank">Atom</a>, <a href="https://www.jetbrains.com/pycharm" target="_blank">PyCharm</a></div>
      <div class="ll">Язык Python: <a href="https://www.python.org" target="_blank">Python</a></div>
      <div class="ll">Язык Rust: <a href="https://www.rust-lang.org/ru" target="_blank">Python</a></div>
      <div class="ll">Язык Go: <a href="https://go.dev" target="_blank">Python</a></div>
    </main>
{% endblock %}
{% block title %}
Ссылки
{% endblock %}
