{% extends 'main/lay.html' %}
{% block content %}
<header class="c">
      <h1 class="kk" id="u">Вы можете загрузить свой совет ниже</h1>
</header>
<main>
    {% if is_mobile %}
      <style>
          .kk {
          font-size: 2em;
          }
      </style>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ lol.Name }}<br>
        {{ lol.Advice }}<br>
        <button type="submit" class="hh" id="il">Загрузить</button><br>
        <span id="oioi">{{ error }}</span>
    </form>
</main>
{% endblock %}
{% block title %}
Создать совет
{% endblock %}