{% extends 'main/lay.html' %}
{% block content %}
<header id="w">
      <h1>Хотите стать программистом<br>но не знаете с чего начать?<br><br><br><h1 class="kk">Читайте ниже ↓</h1></h1>
</header>
<main>
      <h1 class="kk">Про меня</h1>
      <div class="ll">
        Меня зовут Абдусаматов Имран. Я являюсь начинающим программистом поэтому моя информация может быть не достоверна.
         Я уже знаю основы Python, HTML и CSS. Если хотите вы можете не следовать моим советам. Для изучения всех шагов я рекомндую сайт
         <a href="https://itproger.com" target="_blank">itproger.com</a>. На нём вы можете посмотреть множество курсов по программированию.
         Также я советую вам записывать всё в блокнот чтобы не забывать важные вещи. Советую скачать текстовые редакторы сразу.
         Полезные ссылки вы можете посмотреть <a href="a.html" target="_blank">здесь</a>
      </div>
      <h1>Ниже пожалуйста укажите какие у вас цели ↓</h1>
      <details class="pp">
        <summary>Малые</summary>
        <span class="j">Если у вас малые цели тогда советую дойти до 2 шага и узучить создание сайтов</span>
      </details>
      <br>
      <details class="pp">
        <summary>Большие</summary>
        <span class="j">Если у вас большие цели тогда вы можете пройти все шаги и польностью изучать языки программирования</span>
      </details>
      <h1 class="kk">Шаг 1. Начало</h1>
      <div class="ll">
        В начале я рекомендую вам изучить язык программирования Python. Он помогает понимать базовую
         концепцию программирования и он лёгкий в изучении. На его основе вы сможете создавать базовые сайты программы и игры.
          Вам может показаться что он не так хорош для больших проектов но у него есть и свои плюсы. Он очень хорошо работает с ИИ из-за чего его можно использовать в больших проектах.
          Насчёт его минусов то он является немного медленным по сравнению с другими языками. При создании сайтов этого особо не видно но в больших проектах эта разница заметна.
      </div>
      <h1 class="kk">Шаг 2. Первые проекты</h1>
      <div class="ll">
        После изучения языка Python вы можете развиваться дальше в сторону Python или изучать другие языки. Я советую вам изучать дальше в сторону Python потому что
         потом можно будет не заморачиваться по этому поводу и спокойно интегрировать его в свои проекты. При выполнении первого шага у вас есть несколько вариантов направления.
         Конечно вы в итоге выучите их все, но откуда можно начать? Можно создавать сайты с помощью Django или Flask, можно создавать программы с помощью PyQt5 или изучить библиотеку FastAPI.
         Вы также можете выучить работу с ИИ, чатом GPT и телеграм-ботами. Сначала я советую изучить работу с сайтами ведь она очень простая и полезная. Потом же можно изучать всё остальное на выбор.
         Ниже вы можете посмотреть требования к изучениям ↓.
      </div>
      <details>
        <summary id='Hel'>Создание сайтов на Django</summary>
        <span id="jk">Для создания сайтов на Django вам потребуется знать язык программирования Python, языки разметки HTML и CSS. Языки разметки HTML и CSS обезательны для создания
        сайтов на любой программе и с любым языком. HTML нужен для создания обьектов на сайте а CSS для добавления стиля к обьектам. Язык программирования нужен для добавления функциональной
        части к сайту. </span>
      </details>
    </main>
{% endblock %}
{% block title %}
Главная
{% endblock %}